## Web Scrapping "largest companies in USA" data from wikipedia and putting into excel file

In [1]:
#Importing libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#Getting Data
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
Soup = BeautifulSoup(page.text,'html')

In [3]:
table = Soup.find_all('table')[1]

In [4]:
table_headers = table.find_all('th')

In [5]:
table_header_title = [title.text.strip() for title in table_headers]

In [6]:
print(table_header_title)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [7]:
data_frame = pd.DataFrame(columns = table_header_title)

In [8]:
column_data = table.find_all('tr')

In [9]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [title.text.strip() for title in row_data]
    
    length= len(data_frame)
    data_frame.loc[length] = individual_row_data

In [10]:
data_frame

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [12]:
data_frame.to_csv(r'C:\Projects\Largest Companies in USA.csv',index = False)